doctype html
html
  head
    title= "Casa Deko - Blinds and Curtains"
    meta(charset='utf-8')
    meta(name="description" content="Casa Deko - Blinds and Curtains")
    meta(name="keywords" content="Casa, Deko, Casadeko, Deco, Blinds, Curtains, Home Decorations, casa curtains, Casacurtains, casadeco, wallpaper, fabrics, upholstery")
    link(rel='stylesheet', href='/stylesheets/casadeko.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/themify-icons.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ",crossorigin="anonymous")
    link(rel="icon", href="/images/logo.jpg")
    script(src="/javascripts/jquery-3.3.1.js")
    script(src="/javascripts/popper.js")
    script(src="/javascripts/bootstrap.bundle.js")
    script(src="/javascripts/casadeko.js")
  body(data-spy="scroll", data-target="#navbar", data-offset="50")
    block content
